*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#2563eb);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:30px;
width:90%;
max-width:500px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

h1{
text-align:center;
margin-bottom:20px;
}

.input-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:12px;
font-size:16px;
border:2px solid #ddd;
border-radius:8px;
}

button{
padding:12px 20px;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

ul{
list-style:none;
}

li{
background:#f3f4f6;
padding:12px;
margin-bottom:10px;
border-radius:8px;
display:flex;
justify-content:space-between;
align-items:center;
}

.completed{
text-decoration:line-through;
color:gray;
}

.delete-btn{
background:red;
padding:6px 10px;
border-radius:5px;
color:white;
cursor:pointer;
}
