*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f2f2f2;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:black;
  color:white;
  padding:20px;
}

nav ul{
  display:flex;
  list-style:none;
  gap:20px;
}

.hero{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.content{
  background:white;
  padding:40px;
  border-radius:20px;
  width:90%;
  max-width:500px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.content h2{
  font-size:35px;
  margin-bottom:20px;
}

.content p{
  font-size:18px;
  margin-bottom:20px;
}

button{
  padding:12px 25px;
  border:none;
  background:green;
  color:white;
  border-radius:10px;
  font-size:16px;
}

button:hover{
  background:darkgreen;
}
