*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
position:fixed;
width:100%;
top:0;
z-index:1000;
}

.logo{
font-size:30px;
font-weight:700;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
text-decoration:none;
color:white;
transition:0.3s;
}

nav a:hover{
color:#38bdf8;
}

/* HERO */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(
135deg,
#0f172a,
#1e3a8a,
#2563eb
);
}

.hero-content{
max-width:800px;
}

.hero h3{
font-size:30px;
margin-bottom:10px;
}

.hero h1{
font-size:65px;
font-weight:700;
}

.hero h2{
color:#38bdf8;
margin:15px 0;
}

.hero p{
margin-top:20px;
font-size:18px;
line-height:1.8;
}

.buttons{
margin-top:30px;
}

.btn{
display:inline-block;
padding:12px 30px;
background:#22c55e;
color:white;
text-decoration:none;
border-radius:50px;
margin:10px;
font-weight:600;
transition:.3s;
}

.btn:hover{
transform:translateY(-5px);
}

.btn-outline{
background:transparent;
border:2px solid white;
}

/* SECTIONS */

section{
padding:100px 10%;
}

section h2{
text-align:center;
font-size:40px;
margin-bottom:50px;
}

/* ABOUT */

.about-card{
background:rgba(255,255,255,0.08);
padding:40px;
border-radius:20px;
backdrop-filter:blur(10px);
line-height:1.8;
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.skill-card{
background:#1e293b;
padding:25px;
text-align:center;
border-radius:15px;
transition:.3s;
font-weight:600;
}

.skill-card:hover{
transform:translateY(-10px);
background:#2563eb;
}

/* PROJECTS */

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.project-card{
background:#1e293b;
padding:30px;
border-radius:20px;
transition:.3s;
}

.project-card:hover{
transform:translateY(-10px);
}

.project-card h3{
margin-bottom:15px;
color:#38bdf8;
}

/* CONTACT */

.contact-card{
background:#1e293b;
padding:40px;
border-radius:20px;
text-align:center;
}

.contact-card p{
margin:15px 0;
}

.contact-card a{
color:#38bdf8;
text-decoration:none;
}

/* FOOTER */

footer{
background:#020617;
text-align:center;
padding:25px;
margin-top:40px;
}

/* MOBILE */

@media(max-width:768px){

.hero h1{
font-size:42px;
}

.hero h3{
font-size:24px;
}

.hero h2{
font-size:22px;
}

nav{
flex-direction:column;
gap:15px;
}

nav ul{
gap:15px;
flex-wrap:wrap;
justify-content:center;
}

section h2{
font-size:32px;
}

}
